{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% if not homework_done %}
    <table class="table table-striped table-bordered table-hover table-dark">
        
            
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Due</th>
                <th scope="col">Status</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            
            {% for hw  in Homework %}
            
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{hw.Subject}}</td>
                <td>{{hw.Title}}</td>
                <td>{{hw.Description|slice:"35"}}</td>
                <td>{{hw.Due}}</td>

                <td>
                    <a href="{% url 'update-homework' hw.id %}">
                        
                        <div class="form-check">
                            {% if hw.Status == True  %}
                            <input class="form-check-input" type="checkbox" value="" checked id="1">
                            <label class="form-check-label text-light" for="flexCheckDefault">
                                Completed
                            </label>
                            {% else %}
                            <input class="form-check-input" type="checkbox" name="the_checkbox" value="0">
                            <label class="form-check-label text-light" for="flexCheckDefault">
                                Incompleted
                            </label>


                            {% endif %}
                        </div>
                    </a>
                </td>
                <td><a href="{% url 'delete-homeworks' hw.id %}"><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <h4>All homeworks are completed!! Create to have more!!</h4>
    {% endif %}
</div>
<div class=" container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Homework</legend>
        </fieldset>
        <div class="form-group">
            {{form|crispy}}
            <button href="" class="btn btn-outline-info" type="submit">
                Create
            </button>
        </div>
    </form>
</div>
{% endblock content %}